/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.wrapper {
    height: 100vh;
    width: 100%;
    color: white;
    min-width: 550px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 15px;
    padding: 10px 0
}

nav li, .playlist-button {
    padding: 0 15px 15px 15px;
    font-size: 12px;
}

.border-view {
    position: relative;
}

.border-view .border-green {
    position: absolute;
    background-color: #adff2f;
}

.display-flex {
    display: flex;
}

/* MAIN */

main {
    height: calc( 100% - 100px);
    width: 100%;
    background-color: #141922;
}

/* Nav common */

nav {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

nav .nav-container {
    flex-direction: column;
    height: 100%;
}

nav .playlist-container {
    flex-grow: 1;
    overflow: hidden;
    min-height: 100px;
}

nav .playlist {
    height: 100%;
    overflow-y: auto;
}

nav .logo {
    height: 80px;
    /* l'altezza fissa serve per avere l'upgrade fixed della stessa altezza */
    padding: 15px 50px 15px 15px;
}

.playlist-container a, .main-links a, .xs-logo-container a, .install .link:first-child a {
    opacity: 0.6;
}

.logo a:hover, .playlist-container a:hover, .main-links a:hover, .main-links ul li:first-child .link a:hover, .xs-logo-container a:hover, .install .link:first-child a:hover, .install .link:last-child a:hover, .xs-logo-container .xs-logo:nth-child(2) a:hover {
    opacity: 1;
}

.logo a, .xs-logo-container .xs-logo:nth-child(2) a, nav .main-links ul li:first-child .link a, .install .link:last-child a {
    opacity: 0.9;
}

/* Nav Main Links */

.main-links .border-view .border-green {
    width: 3px;
    top: 0px;
    bottom: 0;
    left: -15px;
}

nav .link img {
    width: 15%;
    height: auto;
    vertical-align: middle;
}

nav .link {
    vertical-align: middle;
}

/* Nav Palylist Container */

.playlist-container h2 {
    padding: 0 15px 15px 15px;
    font-size: 15px;
}

.playlist-button i {
    font-size: 50px;
    padding-right: 5px;
}

.playlist-button i, .playlist-button span {
    vertical-align: middle;
}

/* Nav Install App */

nav .install {
    padding-bottom: 15px;
}

nav .install .link {
    padding-left: 15px;
}

nav .install .line {
    margin: 10px 0px 10px 15px;
    height: 1px;
    display: inline-block;
    border-bottom: 1px solid;
    width: 80%;
}

nav .img-profile {
    background-color: #808080;
    border-radius: 50%;
}

nav .install .link:first-child {
    margin-top: 10px;
    font-size: 12px;
}

nav .install img {
    margin-right: 5px;
}

/* Nav Xs Logo */

.xs-logo-container {
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
    display: none;
}

.xs-logo-container .xs-logo {
    width: 40%;
    height: auto;
    padding-bottom: 10px;
}

.xs-logo-container img:first-child {
    padding-top: 5px;
}

.xs-logo-container .xs-logo:last-child {
    padding-bottom: 10px;
}

.xs-logo-container .logo-grow {
    flex-grow: 1;
}

.xs-logo-container .logo-bottom img {
    width: 60%;
}

nav .logo-bottom .img-profile {
    background-color: #808080;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 768px) {
    nav .logo, nav .main-links, nav .playlist-container, nav .install {
        display: none;
    }
    .xs-logo-container {
        display: flex;
    }
}

/* main-right */

/* main-right Common  */

.main-right {
    float: left;
    width: calc( 100% - 200px);
    height: 100%;
    overflow-y: auto;
    padding-top: 110px;
}

.main-right .top-container a, .main-center h4, .main-center .main-box span, .main-center .main-box:hover img, .main-box:hover .box-image a {
    opacity: 0.6;
}

.main-right .top-container a:hover, .main-right .top-container>ul .border-view a:hover, .main-box .box-image a:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    nav {
        width: 80px;
    }
    .main-right {
        width: calc( 100% - 80px);
    }
}

/* Top Nav */

.main-right .top-container {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.main-right .top-container>ul .border-view a {
    opacity: 0.9;
}

.main-right .top-container li {
    display: inline-block;
    padding-right: 60px;
    padding-bottom: 10px;
}

.main-right .top-container li:first-child {
    padding-left: 60px;
}

.main-right .top-container .border-view .border-green {
    bottom: 0px;
    left: 37%;
    height: 3px;
    width: 25%;
}

@media screen and (max-width: 768px) {
    .main-right .top-container li {
        padding-right: 15px;
        margin-bottom: 5px;
    }
    .main-right .top-container li:first-child {
        padding-left: 10px;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    .main-right .top-container li {
        padding-right: 15px;
    }
    .main-right .top-container li:first-child {
        padding-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    .main-right .top-container .border-view .border-green {
        left: 43%;
        width: 15%;
    }
}

/* Section Main Center */

main .main-center {
    padding: 50px 30px;
}

.section-playlist-title {
    padding: 20px 0;
}

.section-playlist:first-child .section-playlist-title {
    padding-top: 0;
}

.section-playlist-title>h2, .section-playlist-title>h4 {
    padding-left: 10px;
}

.main-center h2 {
    font-size: 24px;
}

.main-center h4, .main-center .main-box span {
    font-size: 12px;
}

.box-container {
    flex-wrap: wrap;
}

.main-box {
    width: 15%;
    height: auto;
    text-align: center;
    padding: 10px;
}

.section-playlist .box-container .main-box h3 {
    font-size: 15px;
    padding: 10px 0;
}

.main-box .box-image {
    position: relative;
    cursor: pointer;
}

.main-box .box-image a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    display: none;
}

.main-box:hover .box-image a {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .main-box {
        width: 50%;
    }
    .section-playlist .box-container .main-box h3 {
        font-size: 18px;
        padding: 4px 0;
    }
    .section-playlist .box-container .main-box span {
        font-size: 13px;
    }
}

@media screen and (min-width: 769px) and (max-width:991px) {
    .main-box {
        width: 25%;
    }
    .section-playlist .box-container .main-box h3 {
        font-size: 10px;
        padding: 2px 0;
    }
    .section-playlist .box-container .main-box span {
        font-size: 9px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main-box {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .main-box {
        width: 15%;
    }
}

/* FOOTER */

/* Footer Common */

footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    padding: 10px;
}

.footer-container {
    justify-content: space-between
}

.bar-container {
    height: 4px;
    width: 85%;
    border-radius: 2px;
    background-color: #5a5a5a;
}

.bar-top {
    height: 100%;
    width: 30%;
    border-radius: 2px;
    background-color: #c1c1c1ed;
    position: relative;
}

.bar-top i {
    position: absolute;
    display: none;
}

.bar-top:hover {
    background-color: #adff2f;
    cursor: pointer;
}

.bar-top:hover i {
    display: inline-block;
}

.footer-left .footer-left-title a, #heart, #folder, .bottom-right-container a {
    opacity: 0.6;
}

.footer-left .footer-left-title a:hover, #heart:hover, #folder:hover, .footer-center a:hover, .bottom-right-container a:hover, .footer-left-container .img-cover:hover {
    opacity: 1;
}

/* Footer Left */

.footer-left {
    width: 15%;
    height: auto;
}

.footer-left-container {
    width: auto;
    height: 100%;
    align-items: center;
    padding-top: 5px;
}

.footer-left-container .img-cover {
    min-width: 40px;
    max-width: 30%;
    height: auto;
    padding-right: 10px;
    opacity: 0.9;
}

.footer-left-container .footer-left-title {
    flex-grow: 1;
}

.footer-left-container .footer-left-title h3 {
    font-size: 12px;
}

.footer-left-container .footer-left-title a {
    font-size: 10px;
}

.footer-left-container .footer-left-title a:hover {
    text-decoration: underline;
}

.heart-save-container #heart, .heart-save-container #folder {
    display: inline-block;
}

.heart-save-container a:last-child {
    padding-left: 10px;
}

/* Footer Center */

.footer-center {
    width: 40%;
    height: auto;
    text-align: center;
    font-size: 12px;
}

.footer-center-top {
    width: 40%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

#play-hover {
    font-size: 25px;
    vertical-align: middle;
}

#play-hover:hover {
    transform: scale(1.2, 1.2)
}

footer .footer-bottom-container {
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding-top: 15px;
}

.footer-bottom-container .bar-top i {
    left: 95%;
    top: -3px;
}

.footer-center a {
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .bar-container, .footer-center-top {
        width: 70%;
    }
}

@media screen and (min-width: 769px) and (max-width:991px) {
    .bar-container {
        width: 75%;
    }
    .footer-center-top {
        width: 50%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bar-container {
        width: 80%;
    }
}

/* Footer Right */

footer .bottom-right {
    width: 20%;
    height: auto;
}

.bottom-right-container {
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: 100%;
}

.bottom-right-container a {
    padding-right: 20px;
}

.bottom-right-container .bar-container {
    min-width: 30%;
}

.bottom-right-container .bar-top i {
    left: 85%;
    top: -3px;
    font-size: 12px;
}

/* UPGRADE */

.upgrade {
    height: 80px;
    /* l'altezza fissa uguale al logo */
    position: fixed;
    right: 0;
    top: 0;
    width: calc( 100% - 200px);
    text-align: right;
    background-color: #080b12;
    text-transform: uppercase;
    opacity: 0.8;
}

.upgrade a {
    border: 1px solid white;
    padding: 12px 35px;
    border-radius: 50px;
    margin: 10px 25px 0 0;
    display: inline-block;
    font-size: 15px;
}

.upgrade a:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (max-width: 768px) {
    .upgrade {
        width: calc( 100% - 80px);
    }
}