/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 15px;
    padding: 10px 0
}

nav li, .playlist-button {
    padding: 0 15px 15px 15px;
    opacity: 0.6;
    font-size: 12px;
}

/* MAIN */

main {
    height: calc( 100% - 100px);
    width: 100%;
    background-color: #141922;
}

/* nav */

nav {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

nav .container-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav .playlist-container {
    flex-grow: 1;
    overflow: hidden;
    min-height: 100px;
}

nav .playlist {
    height: 100%;
    overflow-y: auto;
}

nav .logo {
    height: 80px;
    /* l'altezza fissa serve per avere l'upgrade fixed della stessa altezza */
    padding: 15px 50px 15px 15px;
}

nav .main-links li:first-child {
    border-left: 3px solid #adff2f;
    opacity: 1;
}

nav .link img, nav span {
    cursor: pointer;
}

nav .link img {
    width: 15%;
    height: auto;
    vertical-align: middle;
}

nav .link {
    vertical-align: middle;
}

.playlist-container h2 {
    padding: 0 15px 15px 15px;
    font-size: 15px;
}

.playlist-button i {
    font-size: 50px;
    vertical-align: middle;
    padding-right: 5px;
}

.playlist-button span {
    vertical-align: middle;
}

nav .install {
    padding-bottom: 15px;
}

nav .install .link {
    padding-left: 15px;
}


nav .install .line {
    margin: 10px 0px 10px 15px;
    height: 1px;
    display: inline-block;
    border-bottom: 1px solid;
    opacity: 0.6;
    width: 80%;
}


nav .img-profile {
    background-color: #808080;
    border-radius: 50%;
}

nav .install .link:first-child {
    margin-top: 10px;
    opacity: 0.6;
    font-size: 12px;
}

nav .install img {
    margin-right: 5px;
}

.xs-logo-container {
    display: none;
}

@media screen and (max-width: 768px) {
    nav .logo, nav .main-links, nav .playlist-container, nav .install {
        display: none;
    }
    .xs-logo-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        text-align: center;
        /* text-align: center; riferita--> .logo-bottom-img */
    }
    .xs-logo-container .xs-logo {
        width: 50%;
        height: auto;
        padding-bottom: 20px;
    }
    .xs-logo-container img:first-child {
        padding-top: 5px;
    }

    .xs-logo-container .xs-logo:last-child{
        padding-bottom: 10px;
    }
    
    .xs-logo-container .logo-grow{
        flex-grow: 1;
    }

    .xs-logo-container .logo-bottom img{
        width: 50%;
    }

    nav .logo-bottom .img-profile {
        background-color: #808080;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

   /*  .xs-logo-container .logo-bottom{
        align-items: flex-end;
    } */
    
}

/* main-right */

.main-right {
    float: left;
    width: calc( 100% - 200px);
    height: 100%;
    overflow-y: auto;
    padding-top: 110px;
}

@media screen and (max-width: 768px) {
    nav {
        width: 80px;
    }
    .main-right {
        width: calc( 100% - 80px);
    }
}

/* FOOTER */

footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #282828;
}

/* UPGRADE */

.upgrade {
    height: 80px;
    /* l'altezza fissa uguale al logo */
    position: fixed;
    right: 0;
    top: 0;
    width: calc( 100% - 200px);
    text-align: right;
    background-color: #080b12;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .upgrade {
        width: calc( 100% - 80px);
    }
}