/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.wrapper {
    height: 100vh;
    width: 100%;
    color: white;
}

a {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

/* MAIN */

main {
    height: calc( 100% - 100px);
    width: 100%;
    background-color: #141922;
}

/* nav */

nav {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.container-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.playlist-container {
    flex-grow: 1;
    overflow: hidden;
    min-height: 100px;
}

.playlist {
    height: 100%;
    overflow-y: auto;
}

.install {
    /* test */
    height: 70px;
}

/* main-right */

.main-right {
    float: left;
    width: calc( 100% - 200px);
    height: 100%;
    overflow-y: auto;
    padding-top: 110px;
}

@media screen and (max-width: 768px) {
    nav {
        width: 80px;
    }
    .main-right {
        width: calc( 100% - 80px);
    }
}

/* FOOTER */

footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #282828;
}

/* UPGRADE */

.upgrade {
    position: fixed;
    right: 0;
    top: 0;
    width: calc( 100% - 200px);
    text-align: right;
    background-color: #080b12;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .upgrade {
        width: calc( 100% - 80px);
    }
}